# Bỏ toàn bộ thư mục không cần thiết
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.ipynb
.ipynb_checkpoints/
.git/
.venv/
.env
*.pt
*.pkl
*.npy
*.npz
*.zip
*.tar.gz
*.csv
*.xlsx
*.docx
.DS_Store
*.egg-info
*.bak
*.swp
